apiVersion: apps/v1
kind: Deployment
metadata:
  name: store
  labels:
    app: store
spec:
  replicas: 2
  selector:
    matchLabels:
      app: store
  template:
    metadata:
      labels:
        app: store
    spec:
      containers:
        - name: store
          image: armpongpol/store:latest
          ports:
            - containerPort: 8080
          env:
            - name: SPRING_DATASOURCE_URL
              value: jdbc:postgresql://postgres.default.svc.cluster.local:5432/store
            - name: SPRING_DATASOURCE_USERNAME
              value: store
            - name: SPRING_DATASOURCE_PASSWORD
              value: store

            - name: SPRING_DATA_REDIS_HOST
              value: redis.default.svc.cluster.local
            - name: SPRING_DATA_REDIS_PORT
              value: "6379"

          resources:
            requests:
              memory: "256Mi"
              cpu: "150m"
            limits:
              memory: "512Mi"
              cpu: "300m"
